apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pipeline-builder

resources:
  # Namespace
  - namespace.yaml

  # Secrets & ConfigMaps
  - secrets.yaml
  - configmaps.yaml

  # Databases
  - mongodb.yaml
  - postgres.yaml

  # API Gateway
  - nginx.yaml

  # Application Services
  - platform.yaml
  - plugin.yaml
  - pipeline.yaml
  - quota.yaml
  - frontend.yaml

  # Admin UIs
  - mongo-express.yaml
  - pgadmin.yaml

  # Docker Registry
  - registry.yaml
  - registry-express.yaml

  # Observability
  - prometheus.yaml
  - loki.yaml
  - grafana.yaml
  - promtail.yaml

commonLabels:
  app.kubernetes.io/part-of: pipeline-builder
